<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>可能是后台( ・ˍ・)</title>
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <include file="Public/static/html/publicCSS.html" />
    <link rel="stylesheet" href="__CSS__/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="__CSS__/app.css">
    <link rel="stylesheet" href="__STATIC__/amazeui/css/amazeui.address.min.css">
    <style>
        .pages a,
        .pages span {
            display: inline-block;
            padding: 2px 5px;
            margin: 0 3px;
            background: #3f4649;
            /*border: 1px solid #f0f0f0;*/
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }
        .pages a,
        .pages li {
            display: inline-block;
            list-style: none;
            text-decoration: none;
            color: #fff;
            width:30px;
            text-align: center;
        }

        .pages a.first,
        .pages a.prev,
        .pages a.next,
        .pages a.end {
            margin: 0;
        }

        .pages a:hover {
            border-color: #50A8E6;
        }

        .pages span.current {
            background: #167fa1;
            color: #fff;
            width:30px;
            text-align: center;
        }
    </style>
</head>

<body data-type="widgets">

    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;"><img src="__IMG__/logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
                </div>
                <!-- 搜索 -->
                <!--<div class="am-fl tpl-header-search">-->
                    <!--<form class="tpl-header-search-form" action="javascript:;">-->
                        <!--<button class="tpl-header-search-btn am-icon-search"></button>-->
                        <!--<input class="tpl-header-search-box" type="text" placeholder="搜索内容...">-->
                    <!--</form>-->
                <!--</div>-->
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:;">欢迎你, <span>{$user_name}</span> </a>
                        </li>


                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="{:U('Home/Index/index')}" target="_blank" >
                                <span class="am-icon-sign-out"></span> 返回首页
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="__IMG__/head.png" alt="">
                    </div>
                    <span class="user-panel-logged-in-text">
                        <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>{$user_name}
                    </span>
                    <!--<a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>-->
                </div>
            </div>


            <!-- 菜单 -->
            <ul class="sidebar-nav">

                <!--<li class="sidebar-nav-link">-->
                    <!--<a href="404.html">-->
                        <!--<i class="am-icon-tv sidebar-nav-link-logo"></i> 404错误-->
                    <!--</a>-->
                <!--</li>-->

            </ul>
        </div>
        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">
            <div class="row-content am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title  am-cf">照片列表</div>
                            </div>
                            <div class="widget-body  am-fr">

                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-9">
                                    <div class="am-form-group">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button type="button" class="am-btn am-btn-default am-btn-success add-button"><span class="am-icon-plus"></span> 新增</button>
                                                <!--<button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>-->
                                                <!--<button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>-->
                                                <!--<button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="am-u-sm-12 am-u-md-6 am-u-lg-3">-->
                                    <!--<div class="am-form-group tpl-table-list-select">-->
                                        <!--<select data-am-selected="{btnSize: 'sm'}">-->
                                          <!--<option value="option1">所有类别</option>-->
                                          <!--<option value="option2">IT业界</option>-->
                                          <!--<option value="option3">数码产品</option>-->
                                          <!--<option value="option3">笔记本电脑</option>-->
                                          <!--<option value="option3">平板电脑</option>-->
                                          <!--<option value="option3">只能手机</option>-->
                                          <!--<option value="option3">超极本</option>-->
                                        <!--</select>-->
                                    <!--</div>-->
                                  <!---->
                                <!--</div>-->
                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                    <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                        <input type="text" class="am-form-field ">
                                        <span class="am-input-group-btn">
                                            <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search" type="button"></button>
                                        </span>
                                    </div>
                                </div>
                                <!--正文-->
                                <div class="am-u-sm-12">
                                    <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black ">
                                        <thead>
                                            <tr>
                                                <th>缩略图</th>
                                                <th>省份</th>
                                                <th>城市</th>
                                                <th>位置</th>
                                                <th>描述</th>
                                                <th>上传时间</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <volist name="data" id="vo" mod="2">
                                            <eq name="mod" value="0">
                                                <tr class="gradeX">
                                                    <td>
                                                        <img src="{$vo.url}!version2" class="tpl-table-line-img" alt="">
                                                    </td>
                                                    <td class="am-text-middle">{$vo.province_zh}</td>
                                                    <td class="am-text-middle">{$vo.city_name}</td>
                                                    <td class="am-text-middle">{$vo.location}</td>
                                                    <td class="am-text-middle">{$vo.description}</td>
                                                    <td class="am-text-middle">{$vo.create_time}</td>
                                                    <td class="am-text-middle">
                                                        <div class="tpl-table-black-operation">
                                                            <a href="javascript:">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                            <a href="javascript:void(0);" onclick="deleteImg({$vo.id})"class="tpl-table-black-operation-del">
                                                                <i class="am-icon-trash"></i> 删除
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </eq>
                                            <eq name="mod" value="1">
                                                <tr class="even gradeC">
                                                    <td>
                                                        <img src="{$vo.url}!version2" class="tpl-table-line-img" alt="">
                                                    </td>
                                                    <td class="am-text-middle">{$vo.province_zh}</td>
                                                    <td class="am-text-middle">{$vo.city_name}</td>
                                                    <td class="am-text-middle">{$vo.location}</td>
                                                    <td class="am-text-middle">{$vo.description}</td>
                                                    <td class="am-text-middle">{$vo.create_time}</td>
                                                    <td class="am-text-middle">
                                                        <div class="tpl-table-black-operation">
                                                            <a href="javascript:;">
                                                                <i class="am-icon-pencil"></i> 编辑
                                                            </a>
                                                            <a href="javascript:void(0);" onclick="deleteImg({$vo.id})"class="tpl-table-black-operation-del">
                                                                <i class="am-icon-trash"></i> 删除
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </eq>

                                        </volist>


                                            <!-- more data -->
                                        </tbody>
                                    </table>
                                </div>
                                <!--分页条-->
                                <div class="am-u-lg-12 am-cf">
                                    <div class="am-fr pages">
                                        {$page}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 上传图片窗口 -->
        <div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">图片上传</div>
                <div class="am-modal-bd">
                    <form class="am-form" enctype="multipart/form-data" id="form">
                        <div class="am-form-group am-form-file">
                            <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                <i class="am-icon-cloud-upload"></i> 选择要上传的图片
                            </button>
                            <input id="doc-form-file" type="file" name="file[]" multiple="true" accept="image/*" />
                        </div>

                        <input type="text" name="province" readonly>
                        <input type="text" name="city" readonly>
                        <button type="button" id="address1" class="am-btn am-btn-block am-margin-bottom-sm">
                            <i class="am-icon am-icon-home"></i> 选择地址
                        </button>

                        <div id="file-list">
                            <!--<div class="img-preview">-->
                            <!--<img src="__IMG__/logo.png" alt="">-->
                            <!--</div>-->
                        </div>
                        <label for="location">添加地点<input type="text" name="location" id="location"></label><br>
                        <label for="description">添加描述<input type="text" name="description" id="description"></label>

                    </form>
                </div>
                <div class="am-modal-content">

                </div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                    <span class="am-modal-btn" data-am-modal-confirm>提交</span>
                </div>
            </div>
        </div>
        <!--进度条层-->
        <div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="progress">
            <div class="am-modal-dialog" style="background: #636363;opacity: 1">
                <div class="am-modal-hd">
                    <div class="am-progress am-progress-striped am-progress-sm am-active " >
                        <div class="am-progress-bar"  style="width:0"></div>
                    </div>
                    <h1 style="color:#f8f8f8">请稍候...</h1>
                </div>
            </div>
        </div>
    </div>

    <include file="Public/static/html/publicJS.html" />
    <script src="__JS__/theme.js"></script>
    <script src="__JS__/amazeui.min.js"></script>
    <script src="__STATIC__/layer/layer.js"></script>
    <script src="__STATIC__/js/dialog.js"></script>
    <script src="__STATIC__/amazeui/js/iscroll.min.js"></script>
    <script src="__STATIC__/amazeui/js/address.min.js"></script>
    <script src="__JS__/app.js"></script>
    <script>
        function deleteImg(id){
            $.get('{:U("Index/deleteImg")}?id='+id,function(data){
                dialog(data);
                location.reload();
            })
        }
        $(function(){

            // 地址选择框
            $("#address1").address({
                customOutput: true,
                province: "浙江省",
                city: "杭州市",
                scrollToCenter: true,
                selectNumber: 2,
                selectEnd: function(json,address) {
                    for(var key in json) {
                        $("#form").find("input[name='" + key + "']").val(json[key]);
                    }
                }
            })

            //上传图片
            $('.add-button').click(function(){

                // 弹出层
                $('#my-prompt').modal({
                    relatedTarget: this,
                    onConfirm: function(e) {

                        var formData = new FormData($('#form')[0]);

                        $.ajax({
                            url: "{:U('Index/uploadImg')}",
                            type: "POST",
                            data: formData,
                            contentType: false,
                            processData:false,
                            dataType: "json",
                            xhr: function(){
                                myXhr = $.ajaxSettings.xhr();
                                if(myXhr.upload){
                                    $('#progress').modal();
                                    myXhr.upload.addEventListener('progress',function(e) {
                                        if (e.lengthComputable) {
                                            var percent = Math.floor(e.loaded/e.total*100);
                                            $("#progress .am-progress-bar").css('width', percent+'%');
                                        }
                                    }, false);
                                }
                                return myXhr;
                            },
                            success: function (res) {
                                $('#progress').modal('close');
                                $("#progress .am-progress-bar").css('width', 0)
                                   dialog(res);
                                   location.reload();
                            },
                            error: function () {
                                $('#progress').modal('close');
                                $("#progress .am-progress-bar").css('width', 0);
                                dialog({status:0,msg:'出错啦！'})
                                return ;
                            },
                            complete : function(XMLHttpRequest,status) { //请求完成后最终执行参数
                                $('#progress').modal('close');
                                $("#progress .am-progress-bar").css('width', 0);
                                if(status=='timeout'){ //超时,status还有success,error等值的情况
                                    ajaxTimeoutTest.abort();
                                    dialog({status:0,msg:"上传超时，可能是文件过大"});
                                }
                            }
                        })
                    },
                    onCancel: function(e) {
                        $('#file-list').html('');
                    }
                });
            })

            //等待上传图片的显示
            $('#doc-form-file').on('change', function() {
                var files = document.getElementById("doc-form-file").files;
                $('#file-list').html('');
                for(var i in files){
                    var reader = new FileReader();
                    reader.readAsDataURL(files[i]);
                    reader.onload = function(){
                        var text = '<div class="img-preview" style="background: url('+ this.result +')">';
//                        text += '<img src="'+ this.result +'" alt="" class="am-img-responsive">';
                        text += '</div>';
                        $('#file-list').append(text);
                    }
                }
            });
        })
    </script>
</body>

</html>